/* HEADER */
.header-container {
  display: flex;
  align-items: center;
}

.logo-link {
  margin-right: auto;
  flex-shrink: 0;
  transition: 0.3s ease;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.6;
}

.header-logo {
  display: block;
  width: auto;
  height: auto;
}

.header-nav {
  margin-right: 60px;
}

.header-nav__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.header-nav__item:not(:last-child) {
  margin-right: 40px;
}

.header-nav__link {
  display: block;
  text-decoration: none;
  color: #777;
  padding-top: 8px;
  padding-bottom: 4px;
  border-bottom: 4px solid transparent;
  transition: border-bottom 0.3s ease;
}

.header-nav__link:hover {
  border-bottom: 4px solid #702ef3;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.header-nav__link:active {
  opacity: 0.8;
}

.header__setting-logo {
  display: block;
  flex-shrink: 0;
}

.header__menu-toggler {
  display: none;
}

/* MOBILE MENU OFF-CANVAS */
.mobile-menu {
  position: fixed;
  right: -375px;
  width: 315px;
  top: 0;
  height: 100%;
  padding: 30px;
  background-color: #0f1739;
  background-image: url("/assets/img/mobile-menu-bg.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 2px) 0;
  color: #000;
  z-index: 100;
  overflow-y: scroll;
  transition: right 0.3s ease-in-out;
}

.mobile-menu.open {
  right: 0;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #050591;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.mobile-menu__close-btn:hover {
  opacity: 0.8;
}

.close-btn-icon {
  display: block;
}

.mobile-menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu__link {
  line-height: normal;
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 1199px) {
  /* HEADER */
  .header-nav {
    margin-right: 40px;
  }

  .header-nav__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media only screen and (max-width: 991px) {
  /* HEADER */
  .header__menu-toggler {
    display: block;
    background: transparent;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: 0;
  }

  .header-nav {
    display: none;
  }

  .header__setting {
    display: none;
  }
}

@media only screen and (max-width: 375px) {
  /* MOBILE MENU */
  .mobile-menu {
    width: 100%;
  }
}
